In [1]:
import pandas as pd
import numpy as np

In [2]:
df_o = pd.read_csv('churn_clean.csv')
df = df_o.copy()
df

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,1 year
1,1,Male,No,No,No,Yes,No,DSL,Yes,No,...,No,No,No,One year,No,Mailed check,56.95,1889.50,0,3 year
2,2,Male,No,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1,1 year
3,3,Male,No,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,4 year
4,4,Female,No,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1,1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,...,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,0,2 year
7039,7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,0,6 year
7040,7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,0,1 year
7041,7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,1,1 year
7042,7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,0,6 year

In [3]:
df[df['Unnamed: 0'] == 488]

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
488,488,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,1397.475,0,NaN

In [4]:
labels = [i+1 for i in range(20)]

# cutting into bins
df['MonthlyCharges'] = pd.cut(df.MonthlyCharges, range(18, 120, 5), right=False, labels=labels)
df['MonthlyCharges'].value_counts()

1     1185
13     504
12     453
14     450
15     440
16     424
2      421
11     421
17     395
18     364
8      327
7      307
6      261
9      254
10     219
19     214
20     110
4      105
5       99
3       84
Name: MonthlyCharges, dtype: int64

In [5]:
df['TotalCharges'].describe()
# min = 18
# max = 8684

count    7043.000000
mean     2281.916928
std      2265.270398
min        18.800000
25%       402.225000
50%      1397.475000
75%      3786.600000
max      8684.800000
Name: TotalCharges, dtype: float64

In [6]:
labels = [i+1 for i in range(87)]

# cutting into bins
df['TotalCharges'] = pd.cut(df.TotalCharges, range(1,8800, 100), right=False, labels=labels)
df['TotalCharges'].value_counts()

1     819
2     363
3     322
4     252
5     245
     ...
82     14
85     13
83      8
86      5
87      3
Name: TotalCharges, Length: 87, dtype: int64

In [7]:
df.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,3,1,0,1 year
1,1,Male,No,No,No,Yes,No,DSL,Yes,No,...,No,No,No,One year,No,Mailed check,8,19,0,3 year
2,2,Male,No,No,No,Yes,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,8,2,1,1 year
3,3,Male,No,No,No,No,No phone service,DSL,Yes,No,...,Yes,No,No,One year,No,Bank transfer (automatic),5,19,0,4 year
4,4,Female,No,No,No,Yes,No,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Electronic check,11,2,1,1 year

In [8]:
df[df['Unnamed: 0'] == 488]

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
488,488,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),7,14,0,NaN

In [9]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
df

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
0,Female,No,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,3,1,0,1 year
1,Male,No,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,8,19,0,3 year
2,Male,No,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,8,2,1,1 year
3,Male,No,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),5,19,0,4 year
4,Female,No,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,11,2,1,1 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,14,20,0,2 year
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),18,74,0,6 year
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,3,4,0,1 year
7041,Male,Yes,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,12,4,1,1 year
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),18,69,0,6 year

In [11]:
# upsampling

from sklearn.utils import resample

#create two different dataframe of majority and minority class 
df_majority = df[(df['Churn']==0)] 
df_minority = df[(df['Churn']==1)] 

# upsample minority class
df_minority_upsampled = resample(df_minority, replace=True, n_samples= 5174,random_state=42)

# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [12]:
df_upsampled

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
4290,Female,No,Yes,Yes,No,No phone service,DSL,No,No,No,Yes,Yes,No,Month-to-month,No,Electronic check,5,1,1,1 year
5547,Female,No,No,No,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,15,3,1,1 year
3302,Male,No,No,No,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Electronic check,18,31,1,3 year
4949,Male,No,No,No,No,No phone service,DSL,No,Yes,No,No,Yes,Yes,Month-to-month,Yes,Mailed check,7,4,1,1 year
4307,Female,Yes,No,No,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,16,36,1,4 year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,Female,No,No,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),1,15,0,6 year
7038,Male,No,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,14,20,0,2 year
7039,Female,No,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),18,74,0,6 year
7040,Female,No,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,3,4,0,1 year
7042,Male,No,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),18,69,0,6 year

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   object
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   PhoneService      7043 non-null   object
 5   MultipleLines     7043 non-null   object
 6   InternetService   7043 non-null   object
 7   OnlineSecurity    7043 non-null   object
 8   OnlineBackup      7043 non-null   object
 9   DeviceProtection  7043 non-null   object
 10  TechSupport       7043 non-null   object
 11  StreamingTV       7043 non-null   object
 12  StreamingMovies   7043 non-null   object
 13  Contract          7043 non-null   object
 14  PaperlessBilling  7043 non-null   object
 15  PaymentMethod     7043 non-null   object
 16  MonthlyCharges    7037 non-null   category
 17  TotalCharges      7043 non-null   category
 18  Churn             7043 non-null   int64
 19  tenure_group      7032 non-null   object
dtypes: category(2), int64(1), object(17)
memory usage: 1007.7+ KB

In [14]:
y = df_upsampled['Churn']
y

4290    1
5547    1
3302    1
4949    1
4307    1
       ..
7037    0
7038    0
7039    0
7040    0
7042    0
Name: Churn, Length: 10348, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder

#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column

df1 = df_upsampled.select_dtypes([np.object]) 
for i,col in enumerate(df1.columns):
    df_upsampled[col] = lab.fit_transform(df_upsampled[col])

C:\Users\158359\AppData\Local\Temp\ipykernel_20852\3347880901.py:8: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df1 = df_upsampled.select_dtypes([np.object])

In [16]:
df_upsampled

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group
4290,0,0,1,1,0,1,0,0,0,0,2,2,0,0,0,2,5,1,1,0
5547,0,0,0,0,1,0,1,0,0,0,0,2,2,0,1,2,15,3,1,0
3302,1,0,0,0,1,2,1,0,2,2,0,2,2,1,1,2,18,31,1,2
4949,1,0,0,0,0,1,0,0,2,0,0,2,2,0,1,3,7,4,1,0
4307,0,1,0,0,1,2,1,0,0,0,0,2,2,0,1,2,16,36,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7037,0,0,0,0,1,0,2,1,1,1,1,1,1,2,1,0,1,15,0,5
7038,1,0,1,1,1,2,0,2,0,2,2,2,2,1,1,3,14,20,0,1
7039,0,0,1,1,1,2,1,0,2,2,0,2,2,1,1,1,18,74,0,5
7040,0,0,1,1,0,1,0,2,0,0,0,0,0,0,1,2,3,4,0,0
7042,1,0,0,0,1,0,1,2,0,2,2,2,2,2,1,0,18,69,0,5

In [ ]:
df_upsampled.to_csv("beformodel.csv")

In [17]:
y = df_upsampled['Churn']
df_upsampled.drop(['Churn'],axis = 1 , inplace = True)

In [18]:
# random forest

from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report



# split
x_train, x_test, y_train, y_test = train_test_split(df_upsampled, y, test_size =0.1)

# fit
classifier= RandomForestClassifier(n_estimators= 90, criterion="gini")  
classifier.fit(x_train, y_train)  

# predict
y_pred_rf= classifier.predict(x_test)

print(metrics.confusion_matrix(y_test , y_pred_rf))
# report
print(classification_report(y_test, y_pred_rf, labels=[0,1]))

[[464  81]
 [ 25 465]]
              precision    recall  f1-score   support

           0       0.95      0.85      0.90       545
           1       0.85      0.95      0.90       490

    accuracy                           0.90      1035
   macro avg       0.90      0.90      0.90      1035
weighted avg       0.90      0.90      0.90      1035

In [19]:
!pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xgboost in c:\users\158359\appdata\roaming\python\python39\site-packages (1.7.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.21.5)

In [20]:
df_upsampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10348 entries, 4290 to 7042
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            10348 non-null  int32
 1   SeniorCitizen     10348 non-null  int32
 2   Partner           10348 non-null  int32
 3   Dependents        10348 non-null  int32
 4   PhoneService      10348 non-null  int32
 5   MultipleLines     10348 non-null  int32
 6   InternetService   10348 non-null  int32
 7   OnlineSecurity    10348 non-null  int32
 8   OnlineBackup      10348 non-null  int32
 9   DeviceProtection  10348 non-null  int32
 10  TechSupport       10348 non-null  int32
 11  StreamingTV       10348 non-null  int32
 12  StreamingMovies   10348 non-null  int32
 13  Contract          10348 non-null  int32
 14  PaperlessBilling  10348 non-null  int32
 15  PaymentMethod     10348 non-null  int32
 16  MonthlyCharges    10338 non-null  category
 17  TotalCharges      10348 non-null  category
 18  tenure_group      10348 non-null  int32
dtypes: category(2), int32(17)
memory usage: 791.7 KB

In [21]:
df_upsampled['MonthlyCharges'] = pd.to_numeric(df_upsampled['MonthlyCharges'] ,  errors='coerce')
df_upsampled['TotalCharges'] = pd.to_numeric(df_upsampled['TotalCharges'] ,  errors='coerce')

In [22]:
df_upsampled['MonthlyCharges'].isnull().sum()

10

In [23]:
df_upsampled['MonthlyCharges'].fillna(method ='ffill', inplace = True)
df_upsampled['MonthlyCharges'].isnull().sum()

0

In [24]:
df_upsampled['MonthlyCharges'].info()

<class 'pandas.core.series.Series'>
Int64Index: 10348 entries, 4290 to 7042
Series name: MonthlyCharges
Non-Null Count  Dtype
--------------  -----
10348 non-null  float64
dtypes: float64(1)
memory usage: 161.7 KB

In [25]:
import xgboost as xgb

# split
x_train, x_test, y_train, y_test = train_test_split(df_upsampled, y, test_size =0.1)


model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model.fit(x_train, y_train)
model.score(x_test,y_test)

0.7758454106280194